@font-face { 
    font-family: Flower; src: url('Flower.otf'); 
} 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/grass.jpg);
    background-size: 10%;
    font-family: Flower, Georgia;
}
.mapHere {
    display: flex;
    justify-content: center;
}
.row {
    /* width: 550px;
    height: 75px; */
    width: 70vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell {
    /* width: 50%;
    height: auto; */
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.wall {
    background: url(./images/tree.png);
    background-size: 7vh;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
.targetForBox, .targetWithBoxAlreadyThere {
    background-image: url(./images/dirt.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    border-radius: 30%
}
.box {
    background: url(./images/closedFlower.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
.targetForBox.box {
    background: url(./images/source.gif);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}


#player { 
    position: absolute; 
    background: url(./images/gardenBetterBoot.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    /* width: 62px;
    height: 70px; */
    /* having width as vh helps make it square */
    width: 10vh;
    height: 10vh;
    align-self: center;
}
#player.ladyKick {
    background: url(./images/gardenKick.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}


.messageStyle {
    color: #FD88BC;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 60px;
    /* -webkit-text-stroke: 1px coral; */
    text-shadow: -3px 0 #E22974, 0 3px #E22974, 3px 0 #E22974, 0 -3px #E22974;
}


#buttonHolder {
    display: flex;
    justify-content: center;
}
button#resetPlayerToStart {
    font-family: Flower, Georgia;
    font-size: 30px;
    color: #FD88BC;
    background: #E0FDFD;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid #E22974;
    z-index: 20;
}